name: 'Dependency Review'
on: [pull_request, push, workflow_dispatch]

permissions:
  contents: read

  # https://www.meziantou.net/how-to-cancel-github-workflows-when-pushing-new-commits-on-a-branch.htm
concurrency:
  # github.event.pull_request.number || github.ref: pull request number or branch name if not a pull request
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  dependency-review:
    if: contains(github.actor, 'dependabot') == false
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v4.1.1
      - name: 'Dependency Review'
        uses: actions/dependency-review-action@v3
        with:
          base-ref: master
          head-ref: master
          fail-on-severity: high
